# SPDX-License-Identifier: GPL-2.0
# Copyright (C) 2021 - 2023, Shanghai Yunsilicon Technology Co., Ltd.
# All rights reserved.
# Yunsilicon driver configuration
#

config NET_VENDOR_YUNSILICON
	bool "Yunsilicon devices"
	default y
	depends on PCI || NET
	depends on ARM64 || X86_64
	help
	  If you have a network (Ethernet or RDMA) device belonging to this
	  class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Yunsilicon devices. If you say Y, you will be
	  asked for your specific card in the following questions.

if NET_VENDOR_YUNSILICON

source "drivers/net/ethernet/yunsilicon/xsc/net/Kconfig"
source "drivers/net/ethernet/yunsilicon/xsc/pci/Kconfig"

endif # NET_VENDOR_YUNSILICON
