# SPDX-License-Identifier: GPL-2.0-only

menuconfig BLK_IO_HIERARCHY_STATS
	bool "Enable hierarchy io stats"
	default n
	depends on BLK_DEBUG_FS=y
	help
	Enabling this lets the block layer to record additional information
	in different io stages. Such information can be helpful to debug
	performance and problems like io hang.

	If unsure, say N.

if BLK_IO_HIERARCHY_STATS

config HIERARCHY_IO_DUMP
	bool "Support to dump io that is throttled"
	default n
	select BLK_BIO_ALLOC_TIME
	select BLK_BIO_ALLOC_TASK
	depends on BLK_DEV_IO_TRACE
	help
	Enable this will create new debugfs entries to show user the detailed
	information of IO that are submitted and not done yet, and user can
	filter the result by IO stage or IO latency.

	If unsure, say N.

config HIERARCHY_THROTTLE
	bool "Enable hierarchy stats layer blk-throttle"
	default n
	depends on BLK_DEV_THROTTLING=y
	help
	Enabling this lets blk hierarchy stats to record additional information
	for blk-throttle. Such information can be helpful to debug performance
	and problems like io hang.

	If unsure, say N.

endif
