# SPDX-License-Identifier: GPL-2.0-only
#
# Netswift network device configuration
#

config NET_VENDOR_NETSWIFT
	bool "netswift devices"
	default y
	help
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Netswift NICs. If you say Y, you will be asked for
	  your specific card in the following questions.

if NET_VENDOR_NETSWIFT

config NGBE
	tristate "Netswift PCI-Express Gigabit Ethernet support"
	depends on PCI
	imply PTP_1588_CLOCK
	help
	  This driver supports Netswift gigabit ethernet adapters.
	  For more information on how to identify your adapter, go
	  to <http://www.net-swift.com>

	  To compile this driver as a module, choose M here. The module
	  will be called ngbe.

config NGBE_HWMON
	bool "Netswift PCI-Express Gigabit adapters HWMON support"
	default n
	depends on NGBE && HWMON && !(NGBE=y && HWMON=m)
	help
	  Say Y if you want to expose thermal sensor data on these devices.
	  For more information on how to identify your adapter, go
          to <http://www.net-swift.com>

	  If unsure, say N.

config NGBE_DEBUG_FS
	bool "Netswift PCI-Express Gigabit adapters debugfs support"
	default n
	depends on NGBE
	help
	  Say Y if you want to setup debugfs for these devices.
	  For more information on how to identify your adapter, go
          to <http://www.net-swift.com>

	  If unsure, say N.

config NGBE_POLL_LINK_STATUS
	bool "Netswift PCI-Express Gigabit adapters poll mode support"
	default n
	depends on NGBE
	help
	  Say Y if you want to turn these devices to poll mode instead of interrupt-trigged TX/RX.
	  For more information on how to identify your adapter, go
          to <http://www.net-swift.com>

	  If unsure, say N.

config NGBE_SYSFS
	bool "Netswift PCI-Express Gigabit adapters sysfs support"
	default n
	depends on NGBE
	help
	  Say Y if you want to setup sysfs for these devices.
	  For more information on how to identify your adapter, go
          to <http://www.net-swift.com>

	  If unsure, say N.

config TXGBE
        tristate "Netswift PCI-Express 10Gigabit Ethernet support"
        depends on PCI
        imply PTP_1588_CLOCK
        help
          This driver supports Netswift 10gigabit ethernet adapters.
 	  For more information on how to identify your adapter, go
          to <http://www.net-swift.com>

          To compile this driver as a module, choose M here. The module
	  will be called txgbe.

config TXGBE_HWMON
	bool "Netswift PCI-Express 10Gigabit adapters HWMON support"
	default n
	depends on TXGBE && HWMON && !(TXGBE=y && HWMON=m)
	help
	  Say Y if you want to expose thermal sensor data on these devices.
	  For more information on how to use your adapter, go
	  to <http://www.net-swift.com>

	  If unsure, say N.

config TXGBE_DEBUG_FS
	bool "Netswift PCI-Express 10Gigabit adapters debugfs support"
	default n
	depends on TXGBE
	help
	  Say Y if you want to setup debugfs for these devices.
	  For more information on how to use your adapter, go
	  to <http://www.net-swift.com>

	  If unsure, say N.

config TXGBE_POLL_LINK_STATUS
	bool "Netswift PCI-Express 10Gigabit adapters poll mode support"
	default n
	depends on TXGBE
	help
	  Say Y if you want to turn these devices to poll mode instead of interrupt-trigged TX/RX.
	  For more information on how to use your adapter, go
	  to <http://www.net-swift.com>

	  If unsure, say N.
config TXGBE_SYSFS
	bool "Netswift PCI-Express 10Gigabit adapters sysfs support"
	default n
	depends on TXGBE
	help
	  Say Y if you want to setup sysfs for these devices.
	  For more information on how to use your adapter, go
	  to <http://www.net-swift.com>

	  If unsure, say N.
endif # NET_VENDOR_NETSWIFT
