# SPDX-License-Identifier: GPL-2.0
#
# Linkdata network device configuration
#

config NET_VENDOR_LINKDATA
	bool "Linkdata devices"
	default y
	help
	  If you have a network (Ethernet) card from Linkdata, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Intel cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if NET_VENDOR_LINKDATA
source "drivers/net/ethernet/linkdata/sxe/Kconfig"
source "drivers/net/ethernet/linkdata/sxevf/Kconfig"
endif # NET_VENDOR_LINKDATA
