# SPDX-License-Identifier: GPL-2.0-only
#
# arm spe dirver
#
config ARM_SPE_MEM_SAMPLING
	bool "In-kernel SPE for driver for page access profiling"
	depends on ARM64
        help
	  Enable support for the ARMv8.2 Statistical Profiling Extension, which
	  provides periodic sampling of operations in the CPU pipeline.
