# SPDX-License-Identifier: GPL-2.0
#
# Nebula-matrix network device configuration
#

config NET_VENDOR_NEBULA_MATRIX
	bool "Nebula-matrix devices"
	help
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Nebual-matrix cards. If you say Y, you will be
	  asked for your specific card in the following questions.

if NET_VENDOR_NEBULA_MATRIX

config M1600
	tristate "Nebula-matrix Ethernet Controller m1600 Family support"
	depends on PCI && HWMON
	depends on ARM64 || X86_64
	help
	  This driver supports Nebula-matrix Ethernet Controller m1600 Family of
	  devices.  For more information about this product, go to the product
	  description with smart NIC:

	  <http://www.nebula-matrix.com>

	  More specific information on configuring the driver is in
	  <file:Documentation/networking/device_drivers/ethernet/nebula-matrix/m1600.rst>.

	  To compile this driver as a module, choose M here. The module
	  will be called m1600.

endif # NET_VENDOR_NEBULA_MATRIX
