# SPDX-License-Identifier: GPL-2.0-only
config OBMM
	default n
	tristate "OBMM(ownership based memory management) Support"
	depends on UB_UMMU_CORE && UB_UBUS && HISI_SOC_CACHE && ARCH_HAS_COPY_MC
	select NUMA_REMOTE
	select PFN_RANGE_ALLOC
	select RECLAIM_NOTIFY
	help
	  OBMM (Ownership Based Memory Management) provides a framework for
	  managing shared memory regions across multiple systems.
	  It supports both memory import (accessing remote memory) and export
	  (making local memory visible across systems) operations with proper
		NUMA integration and provides capability of cross-supernode cache
		consistency maintenance.
	  If unsure, say N.