# SPDX-License-Identifier: GPL-2.0-only
#
# Ramaxel SPFC driver configuration
#

config SPFC
	tristate "Ramaxel Fabric Channel Host Adapter Support"
	default m
	depends on PCI && SCSI
	depends on SCSI_FC_ATTRS
	depends on ARM64 || X86_64
	help
	This driver supports Ramaxel Fabric Channel PCIe host adapter.
	To compile this driver as part of the kernel, choose Y here.
	 If unsure, choose N.
	The default is M.
