# SPDX-License-Identifier: GPL-2.0
menu "Vendor Hooks"

config VENDOR_HOOKS
        bool "Vendor Hooks"
        depends on TRACEPOINTS
        help
          Enable vendor hooks implemented as tracepoints

          Allow vendor modules to attach to tracepoint "hooks" defined via
          DECLARE_HOOK or DECLARE_RESTRICTED_HOOK.

endmenu
