// SPDX-License-Identifier: GPL-2.0
/*
 * Default device tree;
 */

/dts-v1/;
/ {
	compatible = "sunway,chip3";
	model = "chip3";
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
	};

	soc {
	};
};
