# SPDX-License-Identifier: GPL-2.0

config CRYPTO_DEV_HISI_SEC
	tristate "Support for Hisilicon SEC crypto block cipher accelerator"
	select CRYPTO_BLKCIPHER
	select CRYPTO_ALGAPI
	select SG_SPLIT
	depends on ARM64 || COMPILE_TEST
	depends on HAS_IOMEM
	help
	  Support for Hisilicon SEC Engine in Hip06 and Hip07

	  To compile this as a module, choose M here: the module
	  will be called hisi_sec.

config CRYPTO_DEV_HISILICON
	tristate "Support for HISILICON CRYPTO ACCELERATOR"
	help
	  Enable this to use Hisilicon Hardware Accelerators

config CRYPTO_DEV_HISI_SPIMDEV
	bool "Enable SPIMDEV interface"
	depends on CRYPTO_DEV_HISILICON
	select VFIO_SPIMDEV
	help
	  Enable this enable the SPIMDEV, "shared parent IOMMU Mediated Device"
	  interface for all Hisilicon accelerators if they can. The SPIMDEV
	  enable the WarpDrive user space accelerator driver to access the
	  hardware function directly.

config CRYPTO_DEV_HISI_QM
	tristate
	depends on ARM64 && PCI

config CRYPTO_DEV_HISI_ZIP
	tristate "Support for HISI ZIP Driver"
	depends on ARM64 && CRYPTO_DEV_HISILICON
	select CRYPTO_DEV_HISI_QM
	help
	  Support for HiSilicon HIP08 ZIP Driver

config CRYPTO_DEV_HISI_HPRE
	tristate "Support for HISI HPRE Driver"
	depends on ARM64 && CRYPTO_DEV_HISILICON
	select CRYPTO_DEV_HISI_QM
	help
	  Support for HiSilicon HIP08 HPRE Driver