# SPDX-License-Identifier: GPL-2.0
# Modified: 2026-04-07
#  - Disabled unused Kconfig options

config DRM_ENGIANT
	tristate "DRM Support for Engiant Display"
	depends on DRM && PCI
	select DRM_KMS_HELPER
	select DRM_VRAM_HELPER
	select DRM_TTM
	select DRM_TTM_HELPER
	select DRM_ENGIANT_VS
	select DRM_EGT_DP
	select ENGIANT_VS_PCIE
	help
	  Choose this option if you have an Engiant soc chipset.
	  This enables the DRM driver for the Engiant display subsystem,
	  which includes VeriSilicon DC and Engiant DP interface.

config DRM_ENGIANT_VS
	bool "DRM Support for VeriSilicon"
	depends on DRM_ENGIANT
	help
	  Choose this option if you have a VeriSilicon display controller.
	  This driver provides VeriSilicon kernel mode
	  setting and buffer management. It does not
	  provide 2D or 3D acceleration.

source "drivers/gpu/drm/engiant/connector/Kconfig"

config ENGIANT_VS_PCIE
	bool "PCIE driver support for VeriSilicon display controller"
	depends on DRM_ENGIANT_VS
	help
	  Choose this option if you want to register pcie driver for verisilicon display
	  controller, platform driver is used by default for veriSilicon display controller.
