# SPDX-License-Identifier: GPL-2.0
#
# Hisilicon SoC drivers
#
menu "Hisilicon SoC driver support"

config HISI_HBMDEV
	tristate "add extra support for hbm memory device"
	depends on ACPI_HOTPLUG_MEMORY
	select ACPI_CONTAINER
	help
	  This driver add two extra supports for memory devices. The driver
	  provides methods for userpace to control the power of memory devices
	  in a container. Besides, it provides extra locality information
	  between cpus and memory devices for userspace, which can take
	  advantage of this functionality to select the closet memory device
	  to a certain cpu.

	  To compile this driver as a module, choose M here:
	  the module will be called hisi_hbmdev.

config HISI_HBMCACHE
	tristate "HBM cache memory device"
	depends on ACPI
	help
	  This driver provids methods to control the power of hbm cache device
	  in hisi soc. Use hbm as a cache can take advantage of hbm's high
	  bandwidth in normal memory access.

	  To compile the driver as a module, choose M here:
	  the module will be called hisi_hbmcache.

endmenu
