config SDMA_DAE
	tristate "SDMA-DAE driver for SDMA hardware"
	depends on ARM64 && NUMA
	default n
	help
	  Kernel driver of SDMA hardware.
	  The driver depands on ARM64.
	  To compile SDMA driver as module, choose m here.
	  module will be called sdma_dae.
