# SPDX-License-Identifier: GPL-2.0-only
# 
# Mucse network device configuration
#

config NET_VENDOR_MUCSE
        bool "Mucse devices"
        default y
        help
          If you have a network (Ethernet) card belonging to this class, say Y.

          Note that the answer to this question doesn't directly affect the
          kernel: saying N will just cause the configurator to skip all
          the questions about Mucse cards. If you say Y, you will be asked for
          your specific card in the following questions.


if NET_VENDOR_MUCSE

config MXGBE
	tristate "Mucse(R) 1/10/25/40GbE PCI Express adapters support"
        depends on PCI
        imply PTP_1588_CLOCK
        help
          This driver supports Mucse(R) 1/10/25/40GbE PCI Express family of
          adapters. 

          To compile this driver as a module, choose M here. The module
          will be called rnp.

config MXGBE_FIX_VF_QUEUE
        bool "Fix VF Queue Used(pf)"
        default y
        depends on MXGBE
        help
          Say Y here if you want to fix vf queue order in the driver.

          If unsure, say N.

config MXGBE_FIX_MAC_PADDING
	bool "Close Mac Padding Function(pf)"
	default y
        depends on MXGBE
        help
          Say Y here if you want to fix close mac padding in the driver.

          If unsure, say N.

config MXGBE_OPTM_WITH_LARGE
	bool "Reduce Memory Cost In Large PAGE_SIZE(>8192)"
	default n
        depends on MXGBE
        help
          Say Y here if you want to reduce memory cost in large PAGE_SIZE.

          If unsure, say N.

config MXGBE_MSIX_COUNT
	int "Number of msix count"
	default "64"
	depends on MXGBE
        help
          MXGBE range [2,64].

config MXGBE_DCB
        bool "Data Center Bridging (DCB) Support"
        default y
        depends on MXGBE && DCB
        help
          Say Y here if you want to use Data Center Bridging (DCB) in the
          driver.

          If unsure, say N.

config MXGBEVF
	tristate "Mucse(R) 1/10/25/40GbE PCI Express Virtual Function adapters support"
        depends on PCI
        help
          This driver supports Mucse(R) 1/10/25/40GbE PCI Express family of
          adapters.

          To compile this driver as a module, choose M here. The module
          will be called rnp.

config MXGBEVF_FIX_VF_QUEUE
        bool "Fix VF Queue Used(pf)"
        default y
        depends on MXGBEVF
        help
          Say Y here if you want to fix vf queue order in the driver.

          If unsure, say N.

config MXGBEVF_FIX_MAC_PADDING
	bool "Close Mac Padding Function(pf)"
	default y
        depends on MXGBEVF
        help
          Say Y here if you want to fix close mac padding in the driver.

          If unsure, say N.

config MXGBEVF_OPTM_WITH_LARGE
	bool "Reduce Memory Cost In Large PAGE_SIZE(>8192)"
	default n
        depends on MXGBEVF
        help
          Say Y here if you want to reduce memory cost in large PAGE_SIZE.

          If unsure, say N.

config MXGBEM
	tristate "Mucse(R) 1/10GbE PCI Express 4/8 ports adapters support"
        depends on PCI
        imply PTP_1588_CLOCK
        help
          This driver supports Mucse(R) 1/10GbE 4/8 ports PCI Express family of
          adapters.

          To compile this driver as a module, choose M here. The module
          will be called rnpm.

config MXGBEM_FIX_MAC_PADDING
	bool "Close Mac Padding Function(pf)"
	default y
        depends on MXGBEM
        help
          Say Y here if you want to fix close mac padding in the driver.

          If unsure, say N.

config MXGBEM_OPTM_WITH_LARGE
	bool "Reduce Memory Cost In Large PAGE_SIZE(>8192)"
	default n
        depends on MXGBEM
        help
          Say Y here if you want to reduce memory cost in large PAGE_SIZE.

          If unsure, say N.

config MGBE
	tristate "Mucse(R) 1GbE PCI Express adapters support"
        depends on PCI
        imply PTP_1588_CLOCK
        help
          This driver supports Mucse(R) 1GbE PCI Express family of
          adapters.

          To compile this driver as a module, choose M here. The module
          will be called rnp.

config MGBE_OPTM_WITH_LARGE
	bool "Reduce Memory Cost In Large PAGE_SIZE(>8192)"
	default n
	depends on MGBE
	help
          Say Y here if you want to reduce memory cost in large PAGE_SIZE.

          If unsure, say N.

config MGBE_MSIX_COUNT
	int "Number of msix count"
	default "26"
	depends on MGBE
        help
          MXGBE range [2,26].

config MGBEVF
	tristate "Mucse(R) 1GbE PCI Express Virtual Function adapters support"
        depends on PCI
        help
          This driver supports Mucse(R) 1GE PCI Express Virtual Function
	  family of adapters.

          To compile this driver as a module, choose M here. The module
          will be called rnpgbevf.

config MGBEVF_OPTM_WITH_LARGE
	bool "Reduce Memory Cost In Large PAGE_SIZE(>8192)"
	default n
        depends on MGBEVF
        help
          Say Y here if you want to reduce memory cost in large PAGE_SIZE.

          If unsure, say N.

endif # NET_VENDOR_MUCSE
