# SPDX-License-Identifier: GPL-2.0+
# Hisilicon UBMEM vIOMMU support
config UB_UBMEM_VMMU
	tristate "ubmem_vmmu driver"
	depends on UB_UMMU
	help
	   This option enables support for UBMEM_VMMU drivers. The
	   UBMEM_VMMU driver provides VMU device registration,
	   initialization, address mapping, and un-mapping inside
	   a VM.
