menuconfig UACCE
	tristate "Accelerator Framework for User Land"
	depends on IOMMU_API
	select ANON_INODES
	help
	  UACCE provides interface for the user process to access the hardware
	  without interaction with the kernel space in data path.

	  See Documentation/warpdrive/warpdrive.rst for more details.

	  If you don't know what to do here, say N.

config WD_DUMMY_DEV
	tristate "Support for WrapDrive Dummy Device"
	depends on UACCE
	help
	  Support for WarpDrive test driver with devices (NOT for upstream).

	  If you don't know what to do here, say N.

config WD_DUMMY_V1
	tristate "Support for WrapDrive Dummy Device V1"
	depends on WD_DUMMY_DEV
	help
	  Support for WarpDrive test driver (NOT for upstream).
	  The device is simulated with os

	  If you don't know what to do here, say N.

config WD_DUMMY_V2
	tristate "Support for WrapDrive Dummy Device V2"
	depends on WD_DUMMY_DEV
	help
	  Support for WarpDrive test driver (NOT for upstream).
	  The device is simulated with qemu

	  If you don't know what to do here, say N.
