# SPDX-License-Identifier: GPL-2.0
#
# sxevf network device configuration
#

config SXE_VF
	tristate "sxevf PCI Express adapters support"
	depends on (X86 || ARM64) && PCI
	select MDIO
        select PHYLIB
        select PTP_1588_CLOCK
        default m
	help
	  This driver supports sxevf PCI Express family of adapters.

	  To compile this driver as a module, choose M here. The module
	  will be called ngbe.
