
config VFIO_SPIMDEV
	tristate "Support for Share Parent IOMMU MDEV"
	depends on VFIO_MDEV_DEVICE
	default no
	help
	  Support for VFIO Share Parent IOMMU MDEV, which enable the kernel to
	  support for the light weight hardware accelerator framework, WrapDrive.

          To compile this as a module, choose M here: the module will be called
	  spimdev.
